[Unit]
Description=CryptoPro.Ra.Service
[Service]
WorkingDirectory=/opt/cpca/CryptoPro.Ra.Service/
ExecStart=/opt/cpca/CryptoPro.Ra.Service/CryptoPro.Ra.Service
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=cryptopro-ra-service
User=cpra
[Install]
WantedBy=multi-user.target
